@charset "UTF-8";
/* CSS Document */

body {
	padding-top: 50px;
	margin: 0;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
		
	
/* classes */
.navbar {
	opacity: .95;
	}

.jumbotron {
	padding: 50px 100px 300px 100px;
	margin: 0;
	color: white;
	background-image: url(images/Loggerhead_sea_turtle.jpg);
	background-repeat: no-repeat;
    background-size: cover;
	}

.block1 {
	background-color: #E1DEDE;
	height: 2.2em;
	}

.block2 {
	background-color: #2A6693;
	height: 2.2em;
	}
	
.block3 {
	background-color: #8DCBD5;
	height: 2.2em;
	}
	
.about {
	background-color: #2A6693;
	margin: 0;
	}
	
.abouttext {
	padding: 50px 100px;
	color: white;
	}

.otherlink {
	color: white; /* #E1DEDE */
	}

.title {
	padding: 20px 100px;
	margin: 0;
	background-color: white;
	color: #2A6693;
	font-size: 36px;
	text-align: center;
	}
	
.history {
	margin: 0;
	align-content: center;
	background-image: url(images/Polar_Bear-BW.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	}
	
.historytext {
	padding: 50px 100px;
	color: white; /* #2A6693 */
	font-size: 12px;
	}
	
.cat {
	margin: 0;
	align-content: center;
	background-color: #E1DEDE; /* #8DCBD5 */
	}
	
.cattext {
	padding: 50px 100px;
	color: #2A6693;
	font-size: 18px;
	}

.circle {
	padding: 25px 0;
	}
	
.caption {
	color: white;
	}	
	
.circle:hover .caption {
	background-color: black;
	opacity: .75;
	bottom: 0;
	}
	
.versions {
	padding: 0;
	margin: 0;
	background-color: #8DCBD5
	}
	
	
.criticism {
	margin: 0;
	align-content: center;
	background-color: #2A6693;
	}
	
.criticismtext {
	padding: 50px 100px;
	color: white;
	font-size: 18px;
	}
	
	
/*center columns*/	
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
	
	
/*back-to-top button*/
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #3E3F3E url(back-to-top/img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

.cd-top:hover {
  background: #3E3F3E url(back-to-top/img/cd-top-arrow.svg) no-repeat center; /* #FD1D21 */
  opacity: 1;
}	
