body {
	margin-left: 35%;
	margin-right: 35%;


	

}

p {
	font-size: 12px;
	line-height: 18px;
}

#pre {
		width: 250px;
		vertical-align: center;
		margin-right: auto;
		margin-left: auto;
		}

blockquote {
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	font-weight: italic;
	margin-top: 60px;
	margin-bottom: 40px;
	padding: 60px;
	border: thin silver solid;
	float: left;
	clear:both;
}


h2 {
font-family: 'Raleway', sans-serif;
margin-top: 50px;
margin-bottom: 30px;


}

h3 {
font-family: "Trebuchet MS", sans-serif;}

h4 {
 font-family: 'Raleway', sans-serif;
 font-size: 15px;
 margin top: 20px;
 margin-bottom: 0px;
 
 
 
padding: 0px 0px 0px 0px;}

h6 {
	margin-top: 0px;
	margin-bottom: 60px;
}
#icon {
	font-size: 100px;
	position: center;
	margin-top: 40px;
	margin-bottom: 30px;
	clear: both;
}

#subhead {
	font-style: italic;
	font-size: small;
	margin-bottom: 10px;
	text-align: left;
	
}


#header {
	margin-top: 50px;
	margin-bottom: 10px;
	padding-bottom: 15px;
	padding-top: 0.5px;
	padding-left: 15px;
	text-align: left;
}




div.figure {
  
  width: 250px;
  border: thin silver solid;
  padding: 0.5em;
  clear: both;
  margin-left: auto;
  margin-right: 15px;
  float: left;

  
}
div.figure p {
	  font-style: italic;
  font-size: 9px;
  line-height: 10px;
  text-indent: 0;
  color: black;
}
img.scaled {
  width: 100%;
}

#item {
		margin top: 50px;
		margin bottom: 50px;
		border: 0.5em; 
		float: left;
		clear: both;
		
}

h1 {
font-family: 'Raleway', sans-serif;
font-size:100px;

margin-top: 50px;
margin-bottom: 0px;
 text-align: center;
padding: 0px 0px 0px 0px;}
}


