body {
	font-family: Verdana, sans-serif;
	background: url("img/standard_model.PNG");
	background-repeat: no-repeat;
	background-position: right;
	background-attachment: fixed;
	background-color: #ffffff;
	background-size: 40%;
}
p {
	border: 100px;
	padding-left: 10%;
	padding-right: 5%;
	text-align: left;
	font-size: 12px;
	line-height: 20px;
	margin-right: 45%;
}
img {
}
.sideimages {
	max-width: 450px;
	padding-right: 10%;
	padding-left: 10%;
	margin-right: 45%;
}
.altsideimages {
	max-width: 500px;
	padding-right: 5%;
	padding-left: 10%;
	margin-right: 45%;	
}
#page-wrap { 
  width: 400px; 
  margin: 15px auto; 
  position: relative;
}

#sidebar { 
  width: 300px;  
  margin-left: 310px; 
  position: fixed;
  top: 500px;
  right: 225px;
}
blockquote {
	padding: 50px;
	background: url("img/protoncollider3.jpg");
	background-size: 80%;
	color: #ffffff;
	font-size: 24px;
	width: 400px;
	margin-left: 10%;
}
h1 {
	font-size: 47px;
	text-align: left;
	color: #ffffff;
	background: url("img/protoncollider2.jpg");
	background-size: 25%;
	background-position: fixed;
	font-weight: thin;
	padding: 20px;
	padding-left: 10%;
}
h2 {
	font-size: 36px;
	padding-left: 10%;
	padding: 10px;
	text-align: center;
	color: #ffffff;
	background: url("img/protoncollider2.jpg");
	background-size: 450px;
	background-position: fixed;
	margin-right: 45%;
	border-radius: 10px;
}
h3 {
	padding-left: 10%;
	color: #254d5a;
	margin-right: 45%;

}
table {
  border-spacing: 1 rem;
  padding-left: 5%;
  text-align: center;
  background-color: #ffffff;
  margin-right: 45%;
  border-radius: 10px;
}
.padded {
	padding-left: 10%;
}
td {
  padding: 0.5rem;
  color: #ffffff;
}

td:nth-child(1) { background: hsl(160, 30%, 50%); }
td:nth-child(2) { background: hsl(170, 40%, 50%); }
td:nth-child(3) { background: hsl(180, 50%, 50%); }
td:nth-child(4) { background: hsl(190, 60%, 50%); }
td:nth-child(5) { background: hsl(200, 70%, 50%); }
td:nth-child(6) { background: hsl(210, 80%, 50%); }

ul {
	text-align: left;
	padding-left: 10%;
	color: #5e99ad;
	font-size: 10px;
	font-weight: bold;
	line-height: 12px;
}
.insidelist {
font-size: 12px;
line-height: 20px;
color: #254d5a;
}