@charset "UTF-8";
/* CSS Document */

body{
	padding: 50px 300px;
	}

.title {
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace; 
	font-size:50px;
	color:#2905BC; }
	
.middle
{ font-size:30px;
	
	
	
	}



h2,h3,h4,h6{
	font-family: 'Droid Sans Mono', ;
	color:Blue;}
	
h5{
	color:rgba(228,63,66,1.00);
	}
	
.brandon{
	padding: 10px;
	align-left: 20%;
}



