#head{
	font-size:37px;
	color:#CF0000;
	text-align:center;
	border-bottom: 9px double black;
	background-color:white;
	font-family:BaskervilleBT-Bold ;
	

}
#left{
	border:2px solid black;
	float: left;
	width:20%;
	min-height: 30em;
	background-color:white;
	height:3000px;
	font-family:Baskerville-Normal ;
}
#center{
	font-size:;
	text-align:justify;
	float:left;
	width:60%;
	padding-left:2%;
	padding-right:2%;
	min-height: 30em;
	background-image:url("contents.jpg");
	height:3000px;
	
}
#right{
	border:2px solid black;
	text-align:justify;
	float:right;
	width:12%;
	padding-left: 2%;
	min-height: 30em;
	background-color:white;
	height:3000px;
	font-family:Baskerville-Normal;
}
#footer{
	border: 2px black solid;
	float:left;
	width:100%;
	clear:both;
	text-align: center;
}
h2{
	font-size:35px;
	color:#CF0000;
	border-bottom:2px black double;
	font-family:BaskervilleBT-Bold;
}
h3{
	font-size:25px;
	color:#CF0000;
	border-bottom:1px black solid;
	font-family:BaskervilleBT-Bold;

}
h4{
	font-size:20px;
	font-family:BAskervilleBT-Bold;
	color:#CF0000;
}
p{
	font-size:18px ;
	font-family:Baskerville-Normal;
	line-height:30px;
}
li{
	font-family:BaskervilleBT-Bold;
	color:gray;
	font-size:20px;
}
blockquote {
	font-size: 48px;
	font-family:BaskervilleBT-Bold;
	font-weight: bold;
	margin: 0;
	padding: 40px;
	background: #E0E0D1;
	color: #161615;
}