#head{
	font-size:37px;
	color:#B80000;
	text-align:center;
	border-bottom:;
	background-color:#F5F5F5;
	font-family:verdana  ;
	
	

}
#left{
	border:;
	float: left;
	width:20%;
	min-height: 30em;
	background-color:white;
	height:3000px;
	font-family:verdana ;
}
#center{
	font-size:;
	text-align:justify;
	float:left;
	width:60%;
	padding-left:2%;
	padding-right:2%;
	min-height: 30em;
	background-color:#F5F5F5;
	height:5500px;
	
}
#right{
	border:;
	text-align:justify;
	float:right;
	width:12%;
	padding-left: 2%;
	min-height: 30em;
	background-color:white;
	height:1980px;
	font-family:Baskerville-Normal;
}
#footer{
	border: 2px black solid;
	float:left;
	width:100%;
	clear:both;
	text-align: center;
}
h2{
	font-size:30px;
	color: #A30000;
	border-bottom:;
	font-family:verdana;
}
h3{
	font-size:25px;
	color:#A30000;
	font-family:verdana;

}
h4{
	font-size:20px;
	font-family:verdana;
	color:#A30000;
}
p{
	font-size:15px ;
	font-family:verdana;
	line-height:35px;
}
li{
	font-family:verdana;
	color:black;
	font-size:15px;
}
blockquote {
	font-size: 30px;
	font-family:verdana;
	font-weight: bold;
	margin: 0;
	padding: 40px;
	background: white;
	color: #161615;
}
ul{
	font-family:verdana;
}