

body {
	font-family: garamond, helvetica, sans-serif;
	margin: 10;
	margin-left: 25%;
	margin-right: 25%;

}

h1 {font-family: futura;
font-size:60}
h1 {margin-top: 60px}
h3{font-family: futura}
h3{font-size: 30}

p {
	font-size: 17px;
	line-height: 35px;
	color:;}

blockquote {
	font family: futura;
	font-size: 35px;
	font-weight: bold;
	margin: 30;
	padding: 70px;
	background: #EA1B39;
	color: #ffffff;

	background: url("Wilbur.jpg");
	background-repeat: none;
	background-position: center;
	background-attachment: fixed;
}
.rightfloat {
	float: right;
	width: 55%;
	padding-top: 50px;
	padding-left: 20px;

}

ul {
	text-decoration: none;
}
/*img {
	border: 0px solid;
	float: left;
	width: 25%;
	height: 15%;
	margin-left: 10px;
	margin-bottom: 12px;
	margin-top: 20px;
	margin-right: 20px;
}*/